
.crdelist {
    color: aliceblue;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

.name {
    color:white;
}

.cardList {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: space-between;
}
  
  .cardList img {
    width: 300px;
    margin: 20px;
  }

  .fot {
    color: white;
  }

  .home {
    color: white;
    margin: 50px;
    font-size: 20px;
  }

  .home:hover {
    color: rgb(121, 121, 237);
    font-size: 22px;
  }

  
  @media (max-width: 768px) {

    .cardList {
       display: flex;
       justify-content: center;
    }

    .cardList img {
        width: 300px;
        margin: 20px;
        text-align: center;
      }
    
  }