@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

:root {
  --black: rgb(6, 5, 5);
}

body {
  background-color: var(--black);
  text-align: center;
}




@keyframes blink {
  0%, 100% {
    opacity: 1; 
  }
  50% {
    opacity: 0.5; 
  }
}

.main {
  font-size: large;
  color: rgb(28, 27, 27);
  font-family: 'fantasy';
  font-weight: 900;
  background-color: rgb(187, 183, 183);
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 1%;
  margin: auto;
  position: absolute;
  width: 500px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blink 2s infinite;
}

.main:hover {
  background-color: crimson;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.cm {
  width: 800px;
  margin: auto;
  transition: transform 1s ease;
}

.cmText {
  margin-top: 10px;
  margin-bottom: 10rem;
  color: aliceblue;
}

.cmText:hover {
  color: blueviolet;
}

.cm:hover {
  transform: scale(1.1);
}

.titleName {
  font-family: 'Orbitron', sans-serif;
  font-size: 5rem;
  color: #fff;
  background: -webkit-linear-gradient(45deg, #333, #ddd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 30;
  animation: subtleGlow 2s ease-in-out infinite alternate;
}

@keyframes subtleGlow {
  from {
    text-shadow: 0 0 10px #555, 0 0 20px #555, 0 0 30px #555, 0 0 40px #777, 0 0 70px #777;
  }
  to {
    text-shadow: 0 0 20px #f2f4f5, 0 0 30px #333, 0 0 40px #333, 0 0 50px #555, 0 0 80px #555;
  }
}

.titleName:hover {
  animation: none;
  text-shadow: 0 0 20px #e70f0f, 0 0 30px #f3ebeb, 0 0 40px #f5ecec, 0 0 50px #d90f0f, 0 0 80px;
}

@media (max-width: 768px) {
  .titleName {
    font-size: 3rem; /* スマホ用のフォントサイズ */
    position: relative; /* 絶対位置指定を相対位置指定に変更 */
    margin-top: 20px; /* 上部のマージンを追加 */
    text-shadow: none; /* テキストシャドウを除去 */
    left: 0; /* 左端からの位置をリセット */
    top: 0; /* 上端からの位置をリセット */
    transform: none; /* トランスフォームをリセット */
  }

  .main {
    position: relative; /* 絶対位置指定を相対位置指定に変更 */
    width: auto; /* 幅を自動調整 */
    font-size: medium; /* スマホ用のフォントサイズ */
    padding: 8px 16px; /* パディング調整 */
    margin-top: 20px;
    margin-bottom: 20px; 
    left: 0; /* 左端からの位置をリセット */
    top: 0; /* 上端からの位置をリセット */
    transform: none; /* トランスフォームをリセット */
  }

  .cm {
    margin-top: 0;
    width: 90%; /* スマホ用の幅 */
  }

  .cmText {
    margin-bottom: 5rem; /* マージンを調整 */
  }

  .top {
    display: none;
  }

  
}

@media (min-width: 769px) {
  .mobile {
    display: none;
  }

  .cm {
    margin-top: 20rem;
  }

  .videoContainer {
    width: 100%;
    margin: auto;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    height: 100vh; 
    position: relative;
  }
  
}
